<nav class="c-circle-menu js-menu box-shadow" data-ng-controller="HomeController" data-ng-init="circleMenu()" data-ng-show="authentication.user">
    <button class="c-circle-menu__toggle js-menu-toggle">
        <span>Toggle</span>
    </button>
    <ul class="c-circle-menu__items">
        <li class="c-circle-menu__item">
            <a href="#" class="c-circle-menu__link">
                <img src="modules/core/img/house.svg" alt="">
            </a>
        </li>
        <li class="c-circle-menu__item">
            <a href="#" class="c-circle-menu__link">
                <img src="modules/core/img/photo.svg" alt="">
            </a>
        </li>
        <li class="c-circle-menu__item">
            <a href="#" class="c-circle-menu__link">
                <img src="modules/core/img/pin.svg" alt="">
            </a>
        </li>
        <li class="c-circle-menu__item">
            <a href="#" class="c-circle-menu__link">
                <img src="modules/core/img/search.svg" alt="">
            </a>
        </li>
        <li class="c-circle-menu__item">
            <a href="#" class="c-circle-menu__link">
                <img src="modules/core/img/tools.svg" alt="">
            </a>
        </li>
    </ul>
    <div class="c-circle-menu__mask js-menu-mask"></div>
</nav>