<ul class="drawer" data-ng-controller="HomeController" data-ng-show="authentication.user">
    <li>
        <a href="#"> <i class="fa fa-info-circle"></i> <span>Home</span> </a>
        <ul>
            <li>
                <a href="#"> <i class="fa fa-question-circle"></i> <span>About</span> </a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-phone-square"></i> <span>Contact</span> </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"> <i class="fa fa-info-circle"></i> <span>Home</span> </a>
        <ul>
            <li>
                <a href="#"> <i class="fa fa-question-circle"></i> <span>About</span> </a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-phone-square"></i> <span>Contact</span> </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"> <i class="fa fa-info-circle"></i> <span>Home</span> </a>
        <ul>
            <li>
                <a href="#"> <i class="fa fa-question-circle"></i> <span>About</span> </a>
            </li>
            <li>
                <a href="#"> <i class="fa fa-phone-square"></i> <span>Contact</span> </a>
            </li>
        </ul>
    </li>
</ul>