<section>
  <div class="page-header">
    <h1>Secrets</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="secret in vm.secrets"
       ui-sref="secrets.view({ secretId: secret._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="secret.created | date:'mediumDate'"></span>
        by
        <span ng-if="secret.user" ng-bind="secret.user.displayName"></span>
        <span ng-if="!secret.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="secret.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.secrets.$resolved && !vm.secrets.length">
    No Secrets yet, why don't you <a ui-sref="secrets.create">create one</a>?
  </div>
</section>
